<br>
<br>
<br>
<h1 style="text-align: center;">About Us</h1>

<div class="container">
<p style="font-size: x-large;"> We started Project Emmy with the intention of making a tool that is free and customizable for
  users of non-verbal communication. While many applicaitons charge the user for access to their libraries
  of images and soundboards, we instead rely on our users to add to and customize these libraries based on their
  communicative needs.
     </p>
    </div>
<br>
<br>
<br>
     <h1 style="text-align: center;" >Founders</h1>

     <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
      <div class="card" style="width: 18rem; background-color: rgb(233, 232, 232) ">
        <!-- <img height="200" width="250" class="card-img-top" /> -->
        <div class="card-body">
          <h5 class="card-title">Karen Mena</h5>
          <p class="card-text">
           <li> <a href="https://www.linkedin.com/in/karen-mena-37460920a/">LinkedIn Profile</a> </li>
          <li>  <a href="https://github.com/lisies93">Github</a> </li>
          </p>
        </div>
      </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card" style="width: 18rem; background-color: rgb(233, 232, 232)">
          <!-- <img height="200" width="250" class="card-img-top" /> -->
          <div class="card-body">
            <h5 class="card-title">Tylor Shearn</h5>
            <p class="card-text">
            <li> <a href="https://www.linkedin.com/in/tylorshearn/">LinkedIn Profile</a></li>
          <li><a href="https://github.com/tylorshearn">Github</a></li>
              </p>
          </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card" style="width: 18rem; background-color: rgb(233, 232, 232)">
            <!-- <img height="200" width="250" class="card-img-top" /> -->
            <div class="card-body">
              <h5 class="card-title">Nick Bird</h5>
              <p class="card-text">
              <li><a href="www.linkedin.com/in/nicholas-bird-he-him-5bb1a4137">LinkedIn Profile</a></li>
            <li> <a href="https://github.com/nick-bird">Github</a></li>
              </p>
            </div>
          </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="card" style="width: 18rem; background-color: rgb(233, 232, 232)">
              <!-- <img height="200" width="250" class="card-img-top" /> -->
              <div class="card-body">
                <h5 class="card-title">Justin Adams</h5>
                <p class="card-text">
                <li> <a href="https://www.linkedin.com/in/justinadams314/">LinkedIn Profile</a></li>
              <li><a href="https://github.com/Jadams314">Github</a></li>
                </p>
              </div>
            </div>
            </mat-grid-tile>
    </mat-grid-list>

