<div class="container" name="userExpressions">
  <br><br>
<h1 style="text-align: center; color: #007BFF;">Expressions</h1>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile (click)="textToSpeechExpression(exp)"*ngFor="let exp of expressions; let i=index">
  <div class="card" style="width: 18rem" *ngIf="i<8">
    <img class="card-img-top" [src]="exp.image.imageUrl"/>
    <div class="card-body">
      <!-- <p class="card-text">{{exp.phrase }}</p> -->
    </div>
  </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
