

<div class="container">
<h3>  Hello {{user.firstName}} {{user.lastName}}!   </h3>Hello {{user.firstName}} {{user.lastName}}!
<table>
  <tr>
    <thead>
      <th>

      </th>
    </thead>
  </tr>
  <tbody>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>


<h1>Account info</h1>
<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Role: {{user.role}}</p>



<input (click)="deactivateUser()"   class="btn btn-outline-danger"  value="Delete Account"  [routerLink]="['/home']">
<!-- //  routerLink="['/home']" -->
</div>
