#intro {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  margin-left: 260px;
  margin-bottom: 17px;
  font-size: 25px;
}

.card {
margin-top: 0px;
margin-right: 28px;
opacity: 90%;
border-radius: 8px;
position: absolute;
}

img {
  border-radius: 8px;
  opacity: 85%;
}

input {
  font-size:  16px;
  padding:  20px 0px;
  height:  56px;
  border:  none;
  border-bottom:  solid 1px;
  background:  #fff;
  min-width:  280px;
  box-sizing:  border-box;
  transition:  all .3s linear;
  color:  #000;
  font-weight:  400;
  -webkit-appearance:  none;
}

button {
  -webkit-appearance:  none;
  width:  auto;
  min-width:  100px;
  border-radius:  24px;
  text-align:  center;
  padding:  15px 40px;
  margin-top:  5px;
  background-color:  saturate(primary, 30%);
  color:  #fff;
  font-size:  14px;
  margin-left:  auto;
  font-weight:  500;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13);
  border:  none;
  transition:  all .3s ease;
  outline: 0;
}

button.btn.btn-primary {
  margin-left: 95px;
}
