<div class="container-fluid" id="navDiv">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <div class="col">
          <li class="nav-item" *ngIf = '!loggedIn()'>
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
        </div>
          <li class="nav-item" *ngIf = 'loggedIn()'>
            <a class="nav-link" [routerLink]="['/profile']">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">About Us</a>
          </li>
          <li class="nav-item" *ngIf = '!loggedIn()'>
            <a class="nav-link" [routerLink]="['/try']">Try it Out!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Contact Us</a>
          </li>
        <li *ngIf = 'loggedIn()'><app-logout></app-logout></li>
        </ul>
      </div>
  </nav>
</div>

